[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tensorboardx = "*"

[packages]
tbparser = {git = "https://github.com/velikodniy/tbparser.git"}
click = "*"

[requires]
python_version = "3.7"
